# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

version: '2'

volumes:
  orderer.test.com:
  peer0.benz.test.com:
  peer1.benz.test.com:
  peer0.audi.test.com:
  peer1.audi.test.com:

networks:
  bysn:

services:

  orderer.test.com:
    extends:
      file:   base/docker-compose-base.yaml
      service: orderer.test.com
    container_name: orderer.test.com
    networks:
      - bysn

  peer0.benz.test.com:
    container_name: peer0.benz.test.com
    extends:
      file:  base/docker-compose-base.yaml
      service: peer0.benz.test.com
    networks:
      - bysn

  peer1.benz.test.com:
    container_name: peer1.benz.test.com
    extends:
      file:  base/docker-compose-base.yaml
      service: peer1.benz.test.com
    networks:
      - bysn

  peer0.audi.test.com:
    container_name: peer0.audi.test.com
    extends:
      file:  base/docker-compose-base.yaml
      service: peer0.audi.test.com
    networks:
      - bysn

  peer1.audi.test.com:
    container_name: peer1.audi.test.com
    extends:
      file:  base/docker-compose-base.yaml
      service: peer1.audi.test.com
    networks:
      - bysn

  cli:
    container_name: cli
    image: hyperledger/fabric-tools:$IMAGE_TAG
    tty: true
    stdin_open: true
    environment:
      - GOPATH=/opt/gopath
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      #- CORE_LOGGING_LEVEL=DEBUG
      - CORE_LOGGING_LEVEL=INFO
      - CORE_PEER_ID=cli
      - CORE_PEER_ADDRESS=peer0.benz.test.com:7051
      - CORE_PEER_LOCALMSPID=benzMSP
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/benz.test.com/peers/peer0.benz.test.com/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/benz.test.com/peers/peer0.benz.test.com/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/benz.test.com/peers/peer0.benz.test.com/tls/ca.crt
      - CORE_PEER_MSPCONFIGPATH=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/benz.test.com/users/Admin@benz.test.com/msp
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: /bin/bash
    volumes:
        - /var/run/:/host/var/run/
        - ./../chaincode/:/opt/gopath/src/github.com/chaincode
        - ./crypto-config:/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/
        - ./scripts:/opt/gopath/src/github.com/hyperledger/fabric/peer/scripts/
        - ./channel-artifacts:/opt/gopath/src/github.com/hyperledger/fabric/peer/channel-artifacts
    depends_on:
      - orderer.test.com
      - peer0.benz.test.com
      - peer1.benz.test.com
      - peer0.audi.test.com
      - peer1.audi.test.com
    networks:
      - bysn
